In [10]:
import sys
import os

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path+"\\datasets")

In [22]:
from wikipedia.extract import extract

df_train = extract("../datasets/wikipedia/raw/wikipedia.train")
df_test = extract("../datasets/wikipedia/raw/wikipedia.test")

In [26]:
df_rels = df.loc[df['rel'] != 'no_relation']

In [29]:
df_rels.head()

,rel,tokens,h_start,h_end,t_start,t_end,extra_pos,extra_ner,extra_head,extra_deprel
9,org:city_of_headquarters,"[Taiwan, 's, Chunghwa, Telecom, Co, plans, to,...",2,3,0,0,"[NNP, POS, NNP, NNP, NNP, VBZ, TO, VB, CD, CD,...","[LOCATION, O, ORGANIZATION, ORGANIZATION, ORGA...","[5, 1, 5, 5, 6, 44, 8, 6, 10, 13, 13, 13, 8, 1...","[nmod:poss, case, compound, compound, nsubj, c..."
16,org:city_of_headquarters,"[John, Acerra, ,, 50, ,, of, Allentown, ,, Pen...",17,19,21,21,"[NNP, NNP, ,, CD, ,, IN, NNP, ,, NNP, ,, VBD, ...","[PERSON, PERSON, O, NUMBER, O, O, LOCATION, O,...","[2, 12, 2, 2, 2, 7, 2, 7, 7, 7, 12, 0, 12, 16,...","[compound, nsubjpass, punct, amod, punct, case..."

[<a href="/wiki/United_States_Office_of_Economic_Opportunity" relation="member_of" title="United States Office of Economic Opportunity">United States Office of Economic Opportunity</a>, <a href="/wiki/Donald_Rumsfeld" relation="associate" title="Donald Rumsfeld">Donald Rumsfeld</a>, <a href="/wiki/Gerald_Ford" relation="superior" title="Gerald Ford">Gerald Ford</a>, <a href="/wiki/White_House_Chief_of_Staff" relation="job_title" title="White House Chief of Staff">White House Chief of Staff</a>, <a href="/wiki/James_Baker" relation="associate" title="James Baker">James Baker</a>]